@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #252954;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  font-family: Poppins;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(103.91deg, #9b51e0 21.01%, rgba(48, 129, 237, 0.8) 100%);
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.is-open {
  display: block !important;
}

ul {
  list-style: none;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
}
.navbar .logo {
  text-align: center;
  padding: 0 5%;
}
.navbar .navLinks {
  display: none;
}
@media (min-width: 600px) {
  .navbar .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
  }
}
.navbar .navLinks .navlink {
  font-size: clamp(1.35rem, 1.8rem, 1.8vw);
}
.navbar .launchApp {
  padding: 0 5%;
  cursor: pointer;
  display: none;
}
.navbar .launchApp span {
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 6px;
}
@media (min-width: 600px) {
  .navbar .launchApp {
    display: block;
  }
}
.navbar .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.7s ease;
  z-index: 9;
}
@media (min-width: 600px) {
  .navbar .hamburger {
    display: none;
  }
}

.mobileNav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
  display: none;
  z-index: 20;
}
.mobileNav .closeNav {
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 10;
}
.mobileNav .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileNav .main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 5rem 0;
  gap: 2rem;
}
.mobileNav .main-nav ul li {
  font-size: clamp(1.35rem, 1.8rem, 1.8vw);
  transition: all 0.4s ease;
}
.mobileNav .main-nav ul li:hover {
  transform: translateY(-5px);
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  margin: 0;
  z-index: 1;
}
@media (min-width: 700px) {
  .hero .container {
    flex-direction: row;
  }
}
.hero .container .heroContent,
.hero .container .display {
  flex: 1;
  font-family: Poppins;
  color: #ffffff;
  line-height: 1.1;
  letter-spacing: 1.1px;
  text-align: left;
}
.hero .container .infobox-boldtext {
  font-size: clamp(2.5rem, 3rem, 3.5vw);
  font-weight: 600;
}
.hero .container .infobox-slimtext {
  font-size: clamp(1.45rem, 1.85rem, 1.9vw);
  font-weight: 400;
}
.hero .container .explorebtn,
.hero .container .createbtn {
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: clamp(1rem, 1.5rem, 1.5vw);
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
}
.hero .container .explorebtn:hover,
.hero .container .createbtn:hover {
  background-color: #ffffff;
}
.hero .container .explorebtn:hover a,
.hero .container .createbtn:hover a {
  color: #252954;
}
.hero .container .display .displayImg {
  width: 100%;
  height: 100%;
}

.items {
  margin: 2rem 0;
  padding: 0 5vw;
  font-family: "Lato", sans-serif;
}
.items .title {
  font-size: clamp(1.5rem, 2rem, 2.5vw);
}
.items .controls {
  display: flex;
  justify-content: end;
  align-items: center;
}
.items .controls .prev,
.items .controls .next {
  cursor: pointer;
  padding: 0.35rem;
  transition: all 0.35s ease-in-out;
}
.items .controls .prev:hover {
  transform: translateX(-5px);
}
.items .controls .next:hover {
  transform: translateX(5px);
}

.started {
  margin: 2rem 0;
  padding: 0 5vw;
  font-family: "Lato", sans-serif;
}
.started h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 600;
}
.started h4 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
}
.started .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.started .items .itemwrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.started .items .itemwrapper .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  -webkit-backdrop-filter: blur(74.4293px);
          backdrop-filter: blur(74.4293px);
}
.started .items .itemwrapper p {
  text-align: center;
}

.grid {
  padding-top: 15%;
}

@media (min-width: 720px) {
  .grid {
    padding-top: 10%;
  }
}
.container {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
}

.wrapper {
  margin-bottom: 10px;
  padding: 7px 20px;
  border-radius: 5px;
  border: 0.5px solid rebeccapurple;
}

.img {
  display: none;
}

.toggle,
.content {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #020211;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 0;
}

.content {
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
  height: 0;
  color: black;
  overflow: hidden;
  transition: all 1s;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
  align-items: center;
  align-content: center;
}

h2 {
  margin: 2vh auto;
  color: black;
  text-align: center;
  width: 50%;
  letter-spacing: 1px;
  padding: 5px 0px;
}

.doc {
  margin: 20px auto;
  display: table;
}

.docs {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  color: #dde5ec !important;
  font-size: 20px;
  transition: color 500ms ease-in-out;
}

.docs:hover {
  color: blue;
}

footer .container h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 5% auto;
}

@media only screen and (max-width: 410px) {
  .toggle {
    font-size: 12px;
  }
  .content {
    font-size: 11px;
    text-align: justify;
    line-height: 20px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }
}
@media only screen and (min-width: 770px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: flex-start;
    align-items: center;
  }
  .image {
    background-color: transparent;
    background-image: url(./faq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100%;
  }
}
footer {
  padding: 0 5vw;
  background-color: #000;
  font-family: "Lato", sans-serif;
}
footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0;
}
footer .footer .project {
  flex: 1.5;
  width: 80%;
}
@media (max-width: 470px) {
  footer .footer .project {
    order: 3;
  }
}
footer .footer .project h4 {
  font-weight: 600;
  font-size: clamp(1.5rem, 2rem, 2vw);
  margin: 0.4rem 0;
}
footer .footer .project p {
  font-size: clamp(1rem, 1.5rem, 1.5vw);
  font-weight: 300;
  margin: 0.2rem 0;
  letter-spacing: 1px;
}
footer .footer .project div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
footer .footer .company,
footer .footer .socials {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer .company h5,
footer .footer .socials h5 {
  font-size: clamp(1.35rem, 1.7rem, 1.75vw);
  font-weight: 400;
  margin: 0.4rem 0;
}
footer .footer .company p,
footer .footer .socials p {
  font-size: clamp(1rem, 1.5rem, 1.5vw);
  font-weight: 300;
  margin: 0.3rem 0;
}
@media (min-width: 470px) {
  footer .footer {
    flex-direction: row;
    gap: 2rem;
  }
}
footer .footer2 p {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}/*# sourceMappingURL=style.css.map */