.headText {
  padding: 0 5vw;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 50px;
    .wrapper {
      width: min(100%, 500px);
      padding: 7px 20px;
      border-radius: 5px;
      border: 0.5px solid #0c2a30;
      .toggle {
        font-size: clamp(1.1rem, 1.2vw, 1.32rem);
      }
    }
  }
}

.img {
  display: none;
}

.toggle,
.content {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}
.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: gray;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 0;
  gap: 10px;
}
.content {
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
  height: 0;
  color: #fff;
  overflow: hidden;
  transition: all 1s;
  backdrop-filter: blur(5px);
  .numberDim {
    opacity: 0.5;
  }
}
a {
  text-decoration: none;
  align-items: center;
  align-content: center;
}

h2 {
  margin: 2vh auto;
  color: black;
  text-align: center;
  width: 50%;
  letter-spacing: 1px;
  padding: 5px 0px;
}
.doc {
  margin: 20px auto;
  display: table;
}
.docs {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  color: #dde5ec !important;
  font-size: 20px;
  transition: all 300ms ease-in-out;
  &:hover {
    color: #000 !important;
    background-color: #dde5ec;
  }
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

footer .container h2 {
  width: fit-content;
  color: white;
  margin: 5% auto;
}

@media only screen and (max-width: 410px) {
  .toggle i {
    font-size: 12px;
  }
  .content {
    font-size: 11px;
    text-align: justify;
    line-height: 20px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }
}
@media only screen and (min-width: 770px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: flex-start;
    align-items: center;
  }
  .image {
    background-color: transparent;
    background-image: url(./faq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100%;
  }
}
