.section {
  padding: 0 5vw;
}
.container-products {
  max-width: 95vw;
  margin: auto;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 35px 35px;
  justify-content: center;
  align-items: baseline;
}

.grid-row .grid-item span {
  padding: 10px;
  /*   line-height: 1; */
}
.offers h3 {
  text-align: center;
  font-size: clamp(2rem, 2.5rem, 3vw);
  margin: 20px;
}
.grid-row .grid-item h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.grid-row .grid-item:hover{
  // filter: contrast(0.7);
  transform: translateY(-20px);
  transition: transform 0.6s ease;
}
.grid-row .grid-item {
  transition: filter 0.5s ease;
  display: flex;
  height: 400px;
  cursor: pointer;
  margin: auto;
  background: linear-gradient(
    45deg,
    rgba(28, 28, 32, 0.418),
    rgba(32, 31, 32, 0.418)
  );
  // box-shadow: var(--shadow);
  // color: var(--dark);
  color: white;
  text-align: center;
  font-family: sans-serif;
  flex-direction: column;
  /*   align-items: space-between; */
}
a {
  text-decoration: none;
}
.grid-item img {
  height: 130px;
  width: 130px;
  margin: auto;
  margin-top: 10px;
  border-radius: 100%;
}
