.started {
  margin: 2rem 0;
  padding: 0 5vw;
  font-family: "Lato", sans-serif;
  h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
  }
  h4 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 400;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.65rem 0;
    .itemwrapper {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.095);
        box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
          inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(74.4293px);
      }
      p {
        text-align: center;
      }
    }
  }
}
