@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Shalimar&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #252954;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  font-family: Poppins;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    103.91deg,
    #9b51e0 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  );
}
html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
.is-open {
  display: block !important;
  width:100vw !important;
  transition: width 1s ease-in-out;
}
ul {
  list-style: none;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

@import "./navbar";
@import "./hero";
@import "./offer";
@import "./start";
@import "./roadmap";
@import "./roadmap2";
@import "./faq";
@import "./footer";
